body,html,{
    min-height: 100%;
}

body{
    margin:0;
    padding:0;   
}


#box1{
    font-family: "Amatic SC";
    font-size: 2em;
    color:floralwhite;
    text-shadow: 1px 1px 0 rgba(2,2,2,2);
    height:100vh;
    width:100%;
    background-image: url(Guitar%20Background.jpg);
    background-size: cover;
    display:table;
    background-attachment: fixed;
}

#box2{
    height:100vh;
    width:100%;
    background-image: url(Hockey.JPG);
    background-size: cover;
    display:table;
    background-attachment: fixed;
}

#box3{
    height:100vh;
    width:100%;
    background-image: url(Woodworking.jpg);
    background-size: cover;    
    display:table;
    background-attachment: fixed;
}

#box4{
    height:100vh;
    width:100%;
    background-image: url(Producing.jpg);
    background-size: cover;
    display:table;
    background-attachment: fixed;
}
            
h1{
    font-family: "Amatic SC";
    font-size:3em;
    color:floralwhite;
    margin:0px;
    display:table-cell;
    top: 125px;
    position: relative;
}

li{
    position:relative;
}

.container{
    width:75%;
    margin:auto auto;
}

header{
    background-color: beige;
    width:49%;
    position: fixed;
    top:25px;    
    z-index: 1;
}

nav{
    float:center;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none; 
}

nav li{
    display: inline-block;
    margin: 1vw;
    padding-top: 25px;   
    
    position: relative;
}

nav a{
    color:black;
    text-decoration-line: none;
    font-family: "Amatic SC";
    font-size: 2em;
}

nav a:hover{
    color:darkgray
}

nav a::before{
    content:"";
    display:block;
    height:2px;
    width:100%;
    background-color:black;
    
    position:absolute;
    bottom:0;
    width: 0%;
    transition: ease-in-out 350ms;
}

nav a:hover::before{
    width:100%;
}